@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');

$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #CCC;
$time-bg: #EEE;
$background: #F7F7F7;
$commentBackground: #39f;
$white: #fff;

.chat-container {
	font-family: Red hat Display, sans-serif;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.025em;
	color: $text-1;
    background: $background;
	color: $text-1;
    display: flex;
    height: calc(100vh - 105px);
    align-items: stretch;
}

.pic {
	width: 3rem;
	height: 3rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.contact {
	position: relative;
	margin-bottom: 1rem;
	padding-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
	min-height: 3rem;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;

	&:not(.bar):hover, &.active{
		background-color: rgba(240,240,240,.8);
	}

	.pic {
		position: absolute;
		left: 0.5rem;
		background-image: url('/avatars//default.jpg');
	}

	.name {
		font-weight: normal;
		margin-bottom: 0.125rem;
		position: relative;
	}

	&.un_read{
		.name {
			font-weight: bold;
		}
	}

	.time{
		position: absolute;
		right: 5px;
		top: 0px;
		color: $text-3;
	}

	.message, .seen {
		font-size: 0.9rem;
		color: $text-3;
	}
	
	.badge {
		box-sizing: border-box;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		text-align: center;
		font-size: 0.9rem;
		padding-top: 0.125rem;
		border-radius: 1rem;

		top: 0;
		left: 2.5rem;
		background: $text-1;
		color: white;
	}
}

.contacts {
	width: 20rem;
	box-sizing: border-box;
	cursor: pointer;
	
	background: white;
	box-shadow: 
		0 0 8rem 0 rgba(black, 0.1),
		2rem 2rem 4rem -3rem rgba(black, 0.5);
	
	transition: transform 500ms;
    overflow: auto;
	
	h2 {
		margin: 0.5rem 0 1.5rem 5rem;
	}
	
	.fa-bars {
		position: absolute;
		left: 2.25rem;
		
		color: $text-3;
		transition: color 200ms;
		
		&:hover {
			color: $text-2;
		}
	}
	
	.contact:last-child {
		margin: 0;
	}
}

.chat {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    z-index: 2;
    flex: 1;
	box-sizing: border-box;
	
	background: white;
	box-shadow: 
		0 0 8rem 0 rgba(black, 0.1),
		0rem 2rem 4rem -3rem rgba(black, 0.5);
	
	.contact.bar {
		flex-basis: 3.5rem;
		flex-shrink: 0;
		margin: 1rem;
		box-sizing: border-box;
	}

	#chat{
		background: $background;
		flex-shrink: 2;
        overflow-y: auto;
        flex: 1;
		box-shadow: 
			inset 0 2rem 2rem -2rem rgba(black, 0.05),
			inset 0 -2rem 2rem -2rem rgba(black, 0.05);
	}
	
	.messages {
		padding: 1rem;
		.time {
			font-size: 0.8rem;
			background: $time-bg;
			padding: 0.25rem 1rem;
			border-radius: 2rem;
			color: $text-3;
			width: fit-content;
			margin: 0 auto;
		}
		
		.message {
			box-sizing: border-box;
			padding: 0.5rem 1rem;
			margin: 0.5rem 1rem;
			background: #FFF;
			border-radius: 1.125rem 1.125rem 1.125rem 0;
			min-height: 2.25rem;
			width: fit-content;
			max-width: 66%;
			position: relative;
			
			box-shadow: 
				0 0 2rem rgba(black, 0.075),
				0rem 1rem 1rem -1rem rgba(black, 0.1);
			
			&.right {
				margin: 0.5rem 1rem 0.5rem auto ;
				border-radius: 1.125rem 1.125rem 0 1.125rem;
				background: $text-1;
				color: white;
			}

			&.sticker{
				background-color: transparent !important;
				box-shadow: none !important;
			}
			
			.typing {
				display: inline-block;
				width: 0.8rem;
				height: 0.8rem;
				margin-right: 0rem;
				box-sizing: border-box;
				background: #ccc;
				border-radius: 50%;
				
				&.typing-1 { animation: typing 3s infinite }
				&.typing-2 { animation: typing 3s 250ms infinite }
				&.typing-3 { animation: typing 3s 500ms infinite }
			}

			img{
				max-width: 200px;
			}

			&.comment{
				background-color: $commentBackground;
				color: $white;
			}

			&.attachments{
				display: flex;
			}

			&.sending{
				opacity: .8;
			}

			.sending-icon{
				position: absolute;
				bottom: 0;
				right: -20px;
				color: #ccc;
			}

			.multi-attachments{
				display: flex;
				width: 300px;
				flex-wrap: wrap;
				justify-content: space-between;

				img, video{
					width: 145px;
				}

				.attachment{
					display: flex;
					height: 145px;
					align-items: center;
					justify-content: center;
					border-radius: 4px;
					overflow: hidden;
					margin-bottom: 5px;

					img{
						min-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	
	.input {
		box-sizing: border-box;
		flex-basis: 4rem;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		padding: 0 0.5rem 0 1.5rem;
		
		i {
			font-size: 1.5rem;
			margin-right: 1rem;
			color: $text-2;
			cursor: pointer;
			transition: color 200ms;
			
			&:hover {
				color: $text-1;
			}
		}
		
		input {
			border:none;
			background-image:none;
			background-color: white;
			padding: 0.5rem 1rem;
			margin-right: 1rem;
			border-radius: 1.125rem;
			flex-grow: 2;
			box-shadow: 
				0 0 1rem rgba(black, 0.1),
				0rem 1rem 1rem -1rem rgba(black, 0.2);
			
			font-family: Red hat Display, sans-serif;
			font-weight: 400;
			letter-spacing: 0.025em;
			
			&:placeholder {
				color: $text-3;
			}
		}
	}
}


@keyframes typing {
	0%, 75%, 100% {
		transform: translate(0, 0.25rem) scale(0.9);
		opacity: 0.5;
	}
	
	25% {
		transform: translate(0, -0.25rem) scale(1);
		opacity: 1;
	}
}