.customer-panel{
    width: 350px;
    background-color: #fff;
    border-left: 1px solid #e1e5ea;

    .customer-name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #e1e5ea;
        padding-left: 15px;
        padding-right: 15px;
    }

    .customer-avatar{
        margin: 20px 0 10px;

        .pic{
            width: 140px;
            height: 140px;
            border-radius: 10px;
            margin: 0 auto;
        }
    }

    .customer-info{
        padding: 15px 30px;

        input{
            border-color: transparent;
            background-color: transparent !important;
            padding: 0;
            height: auto;
        }
    }
    .customer-row{
        display: flex;
        align-items: center;
        line-height: 24px;
        color: #5a677d;
        margin-top: 5px;

        svg{
            margin-right: 5px;
            height: 30px;
            width: 30px;
        }

        span{
            display: block;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .customer-panel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        label{
            flex: 1;
            font-weight: bold;
            margin-bottom: 0;
        }

        button{
            width: auto;
        }
    }

    .add-tab-container{
        padding: 0 15px;
    }

    .tags-list{
        padding: 10px 15px;

        .btn{
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .btn-remove{
            padding: 0;
            margin-left: 8px;
            margin-bottom: 2px;
            color: #333;
        }

        .tag-color{
            width: 14px;
            height: 14px;
            border-radius: 100%;
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    }

    .add-tag-form{
        margin-top: 10px;
    }

    .tags-modal{
        .add-tag-container{
            position: relative;
    
            input.form-control{
                height: 48px;
                padding-left: 60px;
            }
    
            .btn-add{
                position: absolute;
                right: 8px;
                top: 6px;
            }
    
            margin-bottom: 10px;
        }

        .tag-color-input{
            position: absolute;
            left: 5px;
            top: 7px;
        }

        .selected-color{
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: #ccc;
            border-radius: 100%;
        }

        .dropdown-toggle{
            outline: none !important;
            box-shadow: none !important;
            padding: 0;
            display: flex;
            align-items: center;
        }

        .dropdown-menu{
            padding: 5px;
        }

        .list-group-item{
            position: relative;
            padding-left: 60px;
            height: 48px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 400;

            .dropdown-toggle:after{
                opacity: 0;
            }

            &:hover{
                .dropdown-toggle:after{
                    opacity: 1;
                }
            }
        }

        .tags-list-container{
            max-height: 500px;
        }
    }
}